<button routerLink="/admin">MINE TAGASI</button>

<br><br>

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label>Nimetus</label><br>
    <input type="text" ngModel name="title" placeholder="Sisesta nimetus" required><br>
    <label>Hind</label><br>
    <input type="number" ngModel name="price" placeholder="Sisesta hind" required><br>
    <label>Kategooria</label><br>
    <!-- <input type="text" ngModel name="category" pattern="^[a-zA-Z]+$" placeholder="Sisesta kategooria" required><br> -->
    <select ngModel name="category" required>
        <option value="" disabled selected>Vali kategooria</option>
        <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
    </select>
    <br>
    <label>Pilt</label><br>
    <input type="text" ngModel name="imgSrc" placeholder="Sisesta pildi aadress" required><br>
    <button [disabled]="addItemForm.invalid" class="btn btn-success">SISESTA</button>
    <!-- PROPERTY BINDING -->
</form>