<div class="navbar">
  <img routerLink="/" src="assets\webshio.png">
  <button routerLink="admin">ADMIN LEHELE</button>
  <div class="cart-button" routerLink="ostukorv">0.00€</div>
</div>

<!-- TUMESINISED ON TÄÄGID -->
<!-- <div></div> -->
<!-- <h1></h1>
<h2></h2>
<p></p>
<button></button> -->

<!-- HELESINISED ON HTML ATRIBUUDID -->
<!-- class="" src="" routerLink="" -->

<!-- VALGE ON KASUTAJALE NÄHTAV -->
<!-- 0.00€  -->

<!-- PUNANE ORANZIKAS MUUTUJAD/KLASSID -->
<!-- src väärtus, classi väärtus, routerLinki väärtus -->