<button routerLink="/admin">MINE TAGASI</button>

<br><br>

<button (click)="onSaveItemsToDatabase()">SALVESTA ESEMED ANDMEBAASI</button>

<br>

<div *ngFor="let item of items">
  <div>{{ item.title }}</div>
  <div>{{ item.price | itemPrice }}</div>
  <button (click)="onDeleteItem(item.id)">X</button>
  <button routerLink="/admin/muuda-ese/{{ item.id }}">Muuda toodet</button>
  <br />
</div>

<!-- 
    relatiivne teekond
alates kohast kus sees ma olen

routerLink="../muuda-ese"
img src="../../assets/pilt.jpg"
import from '../services/'

    absoluutne teekond
alates juurest (source'st)

routerLink="/admin/muuda-ese"
img src="assets/pilt.jpg"
import 'from src/app/services/'

-->
