<ngb-carousel class="carousel-wrapper" *ngIf="images">
   <ng-template *ngFor="let image of images" ngbSlide>
     <div class="picsum-img-wrapper">
       <img src="{{image.url}}" alt="{{image.alt}}">
     </div>
     <div class="carousel-caption">
       <h3>{{image.header}}</h3>
       <p>{{image.text}}</p>
     </div>
   </ng-template>
 </ngb-carousel>

<span (click)="onCategorySelected('all')" [ngClass]="{'category-selected': categorySelected == 'all'}">
  Kõik kategooriad
</span>
<br>
<span 
  *ngFor="let category of itemsOriginal | uniqueCategory"
  [ngClass]="{'category-selected': categorySelected == category}" 
  (click)="onCategorySelected(category)">{{ category }} <br> 
</span>

<br>
  <div class="filter-bar">
    <div>Järjesta:</div>
    <div class="filter-value" (click)="onSortByTitle()">Tähestiku järgi</div>
    <div class="filter-value" (click)="onSortByPrice()">Hinna järgi</div>
  </div>
<br><br>

<div *ngIf="itemsShown.length == 0">{{'ESEMEID EI OLE!' | titlecase}}</div>
<div class="items-wrapper">
  <div class="item" *ngFor="let item of itemsShown">
    <img class="item-picture" routerLink="toode/{{item.id}}" src="{{ item.imgSrc }}">
    <div class="add-to-cart-btn-wrapper">
      <div class="add-to-cart-btn" (click)="onAddToCart(item)">{{'Lisa ostukorvi' | uppercase}}</div>
    </div>
    <div class="item-title">{{ item.title | shortenTitle }}</div> 
    <div class="item-price">{{ item.price | itemPrice }}</div> 
  </div>
</div>

